POSTGRES_USER=sonora
POSTGRES_PASSWORD=cambia_esto
POSTGRES_DB=sonoraplay
PG_PORT=5432
DATABASE_URL=postgresql+psycopg://sonora:cambia_esto@localhost:5432/sonoraplay
TEST_DATABASE_URL=postgresql+psycopg://sonora:cambia_esto@localhost:5432/sonoraplay_test
SEED=42
TASA_DEFECTOS=0.02
